/*general css file for */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
html{
    height: 100%;
}
body{
    background: rgb(166,193,238);
    background: linear-gradient(190deg, #A6C1EE 0%, #FBC2EB 100%);
    background-repeat: no-repeat;
    height: 100%;
    margin:0;
    background-attachment: fixed;
}
.med-phon-loginform i{
    margin-top: 24px;
    margin-left: -30px;
    cursor: pointer;
}
.med-phon-login h6{
    font-size: 18px;
    font-weight: 400;
}
.med-phon-loginform .med-login-link p {
    font-size: 18px;
    font-weight: 400;
}
.form-control {
    line-height: 2.0!important;
    border-radius: 10px;
    justify-content: center;
}
.form-check-label{
    font-weight: 400;
    font-size: 14px;
}
.med-recov-pass span{
    color: red;
    font-weight: 400;
    font-size: 12px;
}
.med-profile-logo img{
    background-color: #ffd88d;
    border-radius: 5rem;
}
.med-profile-desc{
    text-align: center;
    margin-top: 1.6rem;
}
.med-profile-button{
    padding-top:1.6rem;
}
.med-profile-button button{
    outline: none;
    text-align: center;
    letter-spacing: 0.2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 8px 24px rgba(255, 87, 92, 0.25);
    color:#fff;
    font-weight: 400;
    font-size: 20px;
    border:none;
    background-color: #9475AD;
    width: 250px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.med-bottom-button {
    width: 100%;
    background-color: #fff;
    position: fixed;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
@media(max-width:576px){
.med-phon-img1 img {
        width: 260px;
        height: 303px;
    }
.form-control {
    line-height: 2.5!important;
    border-radius: 10px;
    margin-top:0.5rem;
    justify-content: center;
}
.med-profile-logo img{
    background-color: #ffd88d;
    border-radius: 5rem;
}
.med-profile-desc{
    text-align: center;
    margin-top: 1.6rem;
}
.med-profile-button{
    padding-top:1.6rem;
}
.med-profile-button button{
    outline: none;
    text-align: center;
    letter-spacing: 0.2px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 8px 24px rgba(255, 87, 92, 0.25);
    color:#fff;
    font-weight: 400;
    font-size: 20px;
    border:none;
    background-color: #9475AD;
    width: 250px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.med-bottom-button {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: absolute;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
}